.todo-item{
    width:100%;
    border:1px solid #bbb;
    box-shadow: 2px 0 1px 1px #bbb;
    min-height: 2rem;
    padding: 0.5rem 0.5rem;
    background-color:#fff;
    border-radius:1rem;
}
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.todo-form,.todo-list,.todo-container,.todo-form button{
    display: flex;
}
.todo-container, .todo-list{
    flex-direction: column;
    align-items: center;
}
.checkbox{
    margin-right:10px;
}
.todo-form{
    width:60%;
    flex-direction: row;
    height:2rem;
    gap:10px;
    margin-top:25px;

}
.completed{
    text-decoration: line-through;
}
.todo-form input{
    width: 90%;
    height:100%;
    padding-left: 0.5rem;
    outline:0;
}
.todo-form i{
    font-size: 1.5rem;
}

.todo-form button{
    height: 2.2rem;
    width: 10%;
    text-align: center;
    color:#fff;
    background-color: #bbb;
    border:1px solid #fff;
    box-shadow: 1px 0 1px 1px;
    cursor: pointer;
}

.todo-list{
    width:60%;
    gap: 10px;
    list-style: none;
    padding-left:0px;
}
.todo-container{
    width:100%;
    
    justify-content: center;
    gap:25px;
    
}