.App{
  width:100%;
  box-sizing: border-box;
  min-height: 100vh;
}
body{
  background-image: url('../public/Images/radiant-gradient.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.page-error{
  text-align: center;
  width:100%;
  margin-top:20%;
  font-size :5rem;
  text-shadow: 4px 4px 10px #d81515;
  color:#fff;
  font-family: 'Alkatra', cursive;

}